@use "../../Global/color" as c;
@use "../../Global//mixin" as m;

.main {
    @include m.globalPadding(60px, 40px);
    background: c.$Color-background-light;
    .title {
        font-family: IntegralCF-Medium;
        letter-spacing: 1px;
    }
    .collectionContainer{
        display: flex;
        gap: 30px;
        overflow-x: auto;
        position: relative;
    }
}