@use "../../Global/color" as c;
@use "../../Global//mixin" as m;

.main {
    //border: solid;
    min-width: max(25vw, 350px );
    @media only screen and (max-width: 868px) {
        min-width: 300px;
    }
    .imgContainer {
        display: flex;
        gap: 10px;
        width: 100%;
        .bigImgContainer {
            flex: 3;
            border-radius: 10px;
            overflow: hidden;
            .bigImg {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                transition: transform 1.5s;
                cursor: pointer;
                &:hover {
                    transform: scale(1.13);
                }
            }
        }

        .smlImgContainer {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            .smlImg {
                width: 90%;
                height: 90%;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }
    .detailsContainer {
        padding: 10px;
        .box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .avatarContainer {
                display: flex;
                align-items: center;
                gap: 10px;
                .avatar {
                    width: 40px;
                    height: auto;
                    border-radius: 50%;
                }
            }
            .btn {
                border: 1px solid c.$Color-accent-blue;
                border-radius: 50px;
                color: c.$Color-accent-blue;
                padding: 10px 20px;
                transition: 0.6s;
                cursor: pointer;
                background: c.$Color-background-light;
                box-shadow: 0 2px 12px rgba(0, 0, 0, 0.322);
                &:hover{
                    color: white;
                    background: c.$Color-accent-blue;;
                }
            }
        }
    }
}
