.main {
    //border: solid;
    position: relative;

    .img {
        border-radius: 10px;
        cursor: pointer;
        transition: 0.6s ease-in-out;
        &:hover {
            transform: scale(1.03);
            box-shadow: 0 2px 12px rgba(0, 0, 0, 0.329);
        }
    }
    .avatar {
        position: absolute;
        width: 60px;
        border-radius: 50%;
        border: solid 3px rgb(255, 255, 255);
        margin-left: auto;
        right: -25px;
        z-index: 1;
        @media only screen and (max-width: 500px) {
            width: 50px;
        }
        @media only screen and (max-width: 400px) {
            width: 40px;
        }
    }
}
