@use "../../Global/color" as c;
@use "../../Global//mixin" as m;

.main {
    @include m.globalPadding(60px, 40px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    //border: solid;
    .containerLeft {
        flex: 1 400px;
        //border: solid;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        gap: 50px;
        padding: 30px 30px 30px 0px;
        @media only screen and (max-width: 400px) {
            gap: 30px;
        }
        .column {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 50px;
            padding: 30px 0px;
        }
        @media only screen and (max-width: 1000px) {
            justify-content: flex-start;
        }
    }
    .containerRight {
        flex: 1 200px;
        padding: 10px;
        //padding-left: 10%;
        //border: solid;
        @media only screen and (min-width: 1232px) {
            padding-left: 10%;
        }
        .title {
            font-family: IntegralCF-Medium;
            letter-spacing: 1px;
        }
        article {
            color: c.$Color-accent-gray;
            font-size: small;
            max-width: 400px;
        }
        .btn {
            @include m.globalButton(c.$Color-primary);
        }
    }
}
