$Color-primary: #3d00b7;

$Color-gray-light: #efefef;

$Color-background-light: #f6f8fa;

$Color-accent-primary: #000000;
$Color-accent-blue: #2639ed;
$Color-accent-gray: #565656;
$Color-accent-gray-light: #757575;
$Color-accent-green: #14c8b0;
$Color-accent-green-dark: #00AC4F;
$Color-accent-red: #ff002e;
