
@mixin globalPadding($normalTopBottom,$mobileTopBottom) {
    padding: $normalTopBottom 10%;
    @media only screen and (max-width: 868px) {
        padding: $mobileTopBottom 5%;
    }
}


@mixin globalButton($color) {
    background: $color;
    cursor: pointer;
    width: fit-content;
    border: none;
    padding: 15px 30px;
    color: white;
    transition: 0.6s ease-in-out;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 50px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.245);
    &:hover {
        //background: rgb(255, 77, 77);
        transform: scale(1.05);
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.445);
    }
}
