@use "../../Global/color" as c;
.main {
    width: 100%;
    .wrapper {
        overflow: hidden;
        border-radius: 20px;
        .img {
            width: 100%;
            border-radius: 20px;
            aspect-ratio: 1 / 1;
            cursor: pointer;
            transition: 2s ease-in-out;
            &:hover{
               transform: scale(1.1);
            }
        }
    }

    .container {
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .avatarContainer {
            display: flex;
            align-items: center;
            gap: 10px;
            .avatar {
                width: 50px;
            }
            p {
                font-weight: bold;
            }
            small {
                color: c.$Color-accent-gray;
            }
        }
        .bidContainer {
            width: 120px;
            small {
                font-weight: bold;
                font-size: 0.7rem;
            }
            div {
                margin-top: 5px;
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
    }
}
