@use "../../Global/color" as c;
@use "../../Global//mixin" as m;

.main {
    @include m.globalPadding(60px, 40px);

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10%;
    .box {
        flex: 1 300px;
        max-width: 500px;
        padding: 40px 0px;
        // border: solid;

        .wrapper {
            display: flex;
            //justify-content: center;
            gap: 50px;
            .vl {
                border-left: 1px solid rgb(226, 226, 226);
                height: inherit;
                @media only screen and (max-width: 1450px) {
                    display: none;
                }
            }
            .innerContainer {
                .title {
                    font-family: IntegralCF-Medium;
                    letter-spacing: 1px;
                }
                .txt {
                    padding: 10px 3px;
                    color: c.$Color-accent-blue;
                    font-weight: bold;
                }
                hr{
                    border: none;
                    border-bottom: solid 1px rgb(226, 226, 226);
                }
                hr:last-child{
                    display: none;
                }
            }
        }
    }
}
