.main {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0px;
   
    transition: 0.6s ease-in-out;
    cursor: pointer;
    .section {
        p {
            font-weight: 500;
        }
        .imgContainer {
            position: relative;
            .verify {
                position: absolute;
                left: 40px;
                width: 30px;
            }
            .avatar {
                width: 60px;
            }
        }

        .ether {
            margin-top: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
    &:hover{
        border-bottom: solid 1px rgb(187, 187, 187);
    }
}
