@use "../../Global/color" as c;
.main{
    display: flex;
    gap: 20px;
    padding: 10px 0px;
    .imgBox{
        flex: 1;
        img{
            width: 100%;
            aspect-ratio: 1/1;
            border-radius: 20px;
        }
        
    }
    .txtBox{
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5%;
       // border: solid;
        .container{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            padding: 10px 0px;
            img{
                width: 30px;
            }
            .ether{
                display: flex;
                color: c.$Color-accent-green;
                border: 1px solid c.$Color-accent-green;
                padding: 5px;
                border-radius: 5px;
            }
            small{
                color: c.$Color-accent-gray-light;
            }
        }
        .btn {
            width: 120px;
            border: 1px solid #3D00B7;
            background: white;
            border-radius: 50px;
            color: #3D00B7;
            padding: 10px 20px;
            transition: 0.6s;
            cursor: pointer;
            box-shadow: 0 2px 12px rgba(0, 0, 0, 0.222);
            &:hover{
                color: white;
                background: #3D00B7;
            }
        }
    }
}