@use "../../Global/color" as c;
@use "../../Global//mixin" as m;

.main {
    @include m.globalPadding(60px, 40px);
    background: c.$Color-background-light;
    .title {
        font-family: IntegralCF-Medium;
        letter-spacing: 1px;
    }
    .menuContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
            .menu {
                background: rgba(199, 199, 199, 0.351);
                padding: 10px 20px;
                font-weight: 400;
                cursor: pointer;
                border-radius: 20px;
                transition: 0.6s ease-in-out;
                &:hover {
                    background: #3d00b7;
                    color: white;
                }
            }
            @media only screen and (max-width: 590px) {
               display: none;
            }
        }
        .right {
            display: flex;
            gap: 10px;
            cursor: pointer;
            border-radius: 20px;
            transition: 0.6s ease-in-out;
            background: rgba(199, 199, 199, 0.351);
            padding: 10px 20px;
            font-weight: 400;
            font-size: 1rem;
            color: #3d00b7;
            &:hover {
                background: #3d00b7;
                color: white;
            }
        }
    }
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, 260px);
        justify-content: space-between;
        grid-gap: 30px;

        @media only screen and (max-width: 640px) {
            justify-content: center;
        }
        @media only screen and (max-width: 1050px) { 
            grid-gap: 10px;
        }
    }
    .btnContainer {
        display: flex;
        justify-content: center;
        .moreBtn {
            @include m.globalButton(rgba(255, 255, 255, 0));
            border: solid 1px #3d00b7;
            color: #3d00b7;
        }
    }
}
