@use "../../Global/color" as c;
@use "../../Global//mixin" as m;
.main {
    width: 260px;
    height: fit-content;
    padding: 10px;
    margin: 30px 0px;
    background: white;
    border-radius: 10px;
    transition: 0.6s;
    cursor: pointer;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.178);
    .title {
        margin: 10px 10px 10px 3px;
    }
    .imgContainer {
        .img {
            width: 100%;
            height: 250px;
            border-radius: 10px;
        }
        .avatars{
            position: relative;
            margin-bottom: 30px;
            img{
                width: 40px;
                height: 40px;
                border: solid 3px white;
                border-radius: 50%;
                top: -20px;
                position: absolute;
            }

            .img1{
                left: 10px;
            }
            .img2{
                left: 40px;
            }
            .img3{
                left: 70px;
            }
            .img4{
                left: 100px;
            }
        }
    }

    .container {
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .priceContainer {
            display: flex;
            align-items: center;
            gap: 10px;
            .icon {
                color: c.$Color-accent-green-dark;
            }
            .price {
                color: c.$Color-accent-green-dark;
            }
        }
        .quantity {
            color: #838383;
        }
        .timeLeft {
            color: c.$Color-accent-blue;
            font-size: small;
            background: #f5f5f5;
            padding: 5px 10px;
            border-radius: 10px;
            font-weight: bold;
        }
        .bid {
            color: #4f33a3;
            font-weight: 400;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .hr {
        border: 1px solid #f4f4f4;
    }
    &:hover {
        transform: scale(1.04);
    }
}
