@use "../../Global/color" as c;
@use "../../Global//mixin" as m;

.main {
    @include m.globalPadding(20px, 10px);
    display: flex;
    flex-wrap: wrap;
    //border: solid;
    height: fit-content;
    //  height: 50vh;
    height: fit-content;
    .containerLeft {
        flex: 1.5 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 20px;
        // border: solid;
        padding: 50px 0px;
        .title {
            font-family: IntegralCF-Medium;
        }
        article {
            font-family: "Hind Siliguri", sans-serif;
            color: c.$Color-accent-gray;
            font-size: 1rem;
            max-width: 600px;
        }
        .leftInnerContainer {
            min-height: 180px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .dotImg{
                width: 200px;
                position: absolute;
                z-index: -1;
                transform: translate(-20%,0%);
                
            }
            .btn {
                @include m.globalButton(c.$Color-primary);
            }
            .numberContainer {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
            }
        }
    }
    .containerRight {
        flex: 1 300px;
        //border: solid;
        position: relative;
        // min-height: 50vh;
        display: flex;
        align-items: center;
        padding: 50px 0px;
        .auctionLogo {
            width: 80px;
            position: absolute;
            // top: 40%;
            left: 0;
            animation: move 6s infinite;
            z-index: 4;

            @keyframes move {
                100% {
                    transform: rotate(360deg);
                }
            }
        }

        .imgContainer {
            margin-left: 30px;
            width: 100%;
            //border: solid;
            height: 420px;
            position: relative;
            align-self: flex-start;

            .imgContainer1 {
                position: absolute;
                width: 70%;
                height: 70%;
                border-radius: 20px;
                left: 30%;
                top: 40px;
                max-width: 330px;
                background-image: url("../../Assets/Pictures/pic3.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                z-index: 1;
            }
            .imgContainer2 {
                position: absolute;
                width: 80%;
                height: 80%;
                border-radius: 20px;
                left: 10%;
                max-width: 400px;
                top: 20px;
                background-image: url("../../Assets/Pictures/pic4.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                z-index: 2;
            }
            .innerContainer {
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 3;
            }
        }
    }
}
