.main {
    background-image: url("../../Assets/Pictures/auctionTopBar1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: clamp(380px, 70vw, 400px);
    width: clamp(270px, 90%, 400px);
   
    border-radius: 20px;
    color: white;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
        .avatarContainer {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px 0px;
            .avatar {
                width: 30px;
                border-radius: 50%;
            }
            .name {
                font-weight: bold;
            }
        }
    }
    .glassEffect {
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        min-height: 50px;
        height: fit-content;
        padding: 5px 10px;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .left {
            flex: 1 120px;
            small {
                font-size: smaller;
            }
            .leftInnerContainer {
                display: flex;
                align-items: center;

                display: flex;
                gap: 5px;
                .price {
                    font-size: 1rem;
                    font-weight: bold;
                    margin: 10px 0px;
                }
            }
        }
        .right {
            flex:1 120px;
            .time {
                font-size: 1rem;
                font-weight: bold;
                margin: 10px 0px;
            }
        }
    }
}
