.main {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 300px;
    z-index: 10;

    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(4px);
    //height: 100%;
    .container {
        width: 100%;
        // background: rgb(199, 170, 228);
        padding: 20px 50px;
        display: flex;
        justify-content: flex-end;
        .icon {
            font-size: 2rem;
            cursor: pointer;
            transition: 0.6s ease-in-out;
            color: gray;
            &:hover{
                color: rgb(0, 0, 0);
            }
        }
    }
    .menuContainer {
        display: flex;
        flex-direction: column;
        padding: 20px;
        .inputContainer {
            border: 1px solid gray;
            border-radius: 20px;
            background: white;
            display: flex;
            align-items: center;
            padding-right: 15px;
            input {
                flex: 1;
                padding: 10px;
                border-radius: 20px;
                border: none;
                outline: none;
            }
        }
        .btnContainer{
            display: flex;
            gap: 5px;
            button{
                flex: 1;
                padding: 10px 10px;
                font-size: small;
                border-radius: 20px;
                border: none;
                transition: 0.6s ease-in-out;
                cursor: pointer;
            }
            .uploadBtn{
                background: #3D00B7;
                border: solid 1px #3D00B7;
                color: white;
                &:hover{
                   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.426);
                }
            }
            .walletBtn{
                color: #3D00B7;
                border: solid 1px #3D00B7;
                background: white;
                &:hover{
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.426);
                }
            }
        }
        .listContainer{
            padding: 20px;
            ul{
                list-style-type: none;
                .hr{
                    border: solid 1px rgb(241, 241, 541);
                }
                li{
                    padding: 10px 0px;
                    font-size: 1.1rem;
                    font-weight: 500;
                    color: rgb(85, 85, 85);
                    text-align: right;
                    cursor: pointer;
                    transition: 0.6s ease-in-out;
                    &:hover{
                        color: black;
                    }
                }
            }
        }
    }
}
