@use "../../Global/color" as c;
@use "../../Global//mixin" as m;

.main {
    .container {
        display: flex;
        .title {
            font-family: IntegralCF-Medium;
        }
    }

    .txt {
        color: c.$Color-accent-gray;
    }
}
