@use "../../Global/color" as c;
@use "../../Global//mixin" as m;

.main {
    @include m.globalPadding(20px, 10px);
    border-bottom: 1px solid c.$Color-gray-light;
    display: flex;
    //justify-content: space-between;
    align-items: center;
    .box {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
       // border: solid;
        gap: 20px;
        .logo {
            width: 150px;
            height: auto;
        }
       
        ul {
            //border: solid;
            flex: 1;
            list-style-type: none;
            display: flex;
            //justify-content: space-around;
            gap: 10%;
            li {
                font-size: 1rem;
                font-weight: 500;
                cursor: pointer;
                transition: 0.6s ease-in-out;
                &:hover {
                    text-decoration: underline;
                }
            }
            @media only screen and (max-width: 1200px) {
                display: none;
            }
        }
        .inputContainer {
            flex: 1;
            border: 1px solid gray;
            border-radius: 20px;
            background: white;
            display: flex;
            align-items: center;
            padding-right: 15px;
            max-width: 500px;
           margin-left: auto;
            input {
                flex: 1;
                padding: 10px;
                border-radius: 20px;
                border: none;
                outline: none;
            }
            @media only screen and (max-width: 1200px) {
                display: none;
            }
        }
        .btnContainer {
            display: flex;
            gap: 5px;
            button {
                flex: 1;
                // padding: 10px 10px;
                padding: 10px 20px;
                width: 150px;
                font-size: small;
                border-radius: 20px;
                border: none;
                transition: 0.6s ease-in-out;
                cursor: pointer;
            }
            .uploadBtn {
                background: #3d00b7;
                border: solid 1px #3d00b7;
                color: white;
                &:hover {
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.426);
                }
            }
            .walletBtn {
                color: #3d00b7;
                border: solid 1px #3d00b7;
                background: white;
                &:hover {
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.426);
                }
            }
            @media only screen and (max-width: 1200px) {
                display: none;
            }
        }
        
    }
    .icon {
        font-size: 1.6rem;
        cursor: pointer;
        display: none;
        @media only screen and (max-width: 1200px) {
            display: block;
        }
    }
}
