@use "../../Global/color" as c;
@use "../../Global//mixin" as m;

.main {
    @include m.globalPadding(60px, 40px);
    background: c.$Color-background-light;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: clamp(200px, 100%, 100%);
    gap: 20px;

    .box {
        flex: 1 400px;
       // padding: 20px 0px;
        display: flex;
        min-height: 100px;
        gap: 10px;
        //border: solid;
        padding-right: 20px;
        .icon {
            width: 30px;
            height: 30px;
            filter: contrast(1.75);
        }
        .title {
            font-family: IntegralCF-Medium;
            letter-spacing: 1px;
            max-width: 400px;
        }
        .secondTitle{
            font-weight: bold;
            margin-bottom: 10px;
        }
        .article{
            color: c.$Color-accent-gray;
            font-size: small;
            max-width: 400px;
        }
        @media only screen and (min-width: 1000px) {
            flex: 1 200px;
        }
    }
}
