@use "../../Global/color" as c;
@use "../../Global//mixin" as m;

.main {
    @include m.globalPadding(60px, 40px);

    .upperSection {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-between;
        section {
            flex: 1 300px;
            // border: solid;
            .title {
                font-family: IntegralCF-Medium;
                letter-spacing: 1px;
            }
            article {
                color: c.$Color-accent-gray;
                font-size: small;
                max-width: 300px;
            }
            .social {
                display: flex;
                align-items: center;
                padding: 20px 0px;
                font-size: 2rem;
                gap: 20px;
                .fb {
                    color: #4267b2;
                }
                .tw {
                    color: #00acee;
                }
                .li {
                    color: #0077b5;
                }
            }
            .menuContainer {
                display: flex;
                gap: 30px;
                // justify-content: space-around;
                ul {
                    list-style-type: none;
                    .menuTitle {
                        font-size: 1.1rem;
                        font-weight: bold;
                        padding-bottom: 20px;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                    li {
                        color: #3d3d3d;
                        padding: 5px 0px;
                        font-size: small;
                        transition: 0.6s ease-in-out;
                        cursor: pointer;
                        &:hover {
                            color: black;
                            text-decoration: underline;
                        }
                    }
                }
            }
            .stayTitle {
                font-size: 1.1rem;
                font-weight: bold;
                padding-top: 5px;
                padding-bottom: 20px;
            }
            .inputContainer {
                margin: 30px 0px;
                border-radius: 30px;
                border: solid;
                border: solid 2px #f1f1f1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 500px;
                input {
                    flex: 1;
                    padding: 20px;
                    border: none;
                    outline: none;
                    // width: 50%;
                    border-radius: 30px;
                }
                button {
                    padding: 15px;
                    border: none;
                    border-radius: 30px;
                    background: #2639ed;
                    color: white;
                    margin-right: 5px;
                    cursor: pointer;
                    transition: 0.6s ease-in-out;
                    &:hover {
                        background: #0015cf;
                    }
                }
            }
        }
    }
    .lowerSection {
        .hr {
            border: solid 1px #e9e9e9;
        }
        .copyright{
            color: c.$Color-accent-gray-light;
            text-align: center;
            font-size: small;
        }
    }
}
