@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: IntegralCF-Medium;
    src: url(./Assets/Font/IntegralCF-Medium.otf);
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* width */
    &::-webkit-scrollbar {
        width: 10px;
        height: 7px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f100;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgb(180, 180, 180);
        border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: rgb(146, 146, 146);
    }
}
